
$green: #2dbe60;
$darker_green: #1fae52;
$login_green: #008975;


$dark_grey: #aaaaaa; 
$light_grey: #f3f3f3;
$border_grey: #dedede; 
$bar-border-grey: #ececec;
$bar-grey: #f8f8f8;
$index-header-grey: #878787;

$font_dark_grey: #6a6a6a; 
$font_light_grey: #ababab; 
$font_black: #383838;


