@import "fonts.scss";
@import "colors.scss";

html {
	position: relative;
	height: 100%;
}

body {
	background-color: $light_grey;
	width: 100%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}

button {
	background-color: $green;
	border-color: $darker_green;
	color: white;
	font-weight: normal;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: capitalize;
	font-size: 16px;
	text-align: center;
}

button:hover{
	background-color: $darker_green;
}

.loading{
	position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
	background: url(https://media.giphy.com/media/14gJNUXyWxEEjS/giphy.gif); 
	background-color: white;
}
