@import "../base/colors.scss";
@import "../base/fonts.scss";

.post-form{
	height: 100vh;
	background-color: white; 
	display: flex;
	padding: 5%;
}
	.RichEditor-root{
		width: 100vw;
	} 


.create-cancel{
	position: absolute;
	right: 15%;
	top: 7%;
	padding-bottom: 10%; 
	width: 100px;
	background-color: $dark_grey;
	color: white;
	font-weight: normal;
	font-size: 8px;
	font-weight: normal;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: capitalize;
	font-size: 14px;
	text-align: center;
}

.create-create{
	position: absolute;
	right: 15%;
	top: 7%;
	padding-bottom: 10%; 
	width: 100px;
	background-color: $green;
	color: white;
	font-weight: normal;
	font-size: 8px;
	font-weight: normal;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: capitalize;
	font-size: 14px;
	text-align: center;
}

.selector-icon{
	width: 1.5%;
	height: 2.5%;
	padding-bottom: 1.5%;
}

.inline-controls{
	padding-bottom: 5px;
}

.form-title{
	width: 90vw;
	padding-top: 15px;
	font-size: 22px;
	letter-spacing: 0.5px;
	color: $green;
	border-top: 1px solid $bar-border-grey;
}

input[type="text"]::-webkit-input-placeholder {
    color: $green;
}

.DraftEditor-root{
	padding-top: 1%;
}

