@import "../base/colors.scss";
@import "../base/fonts.scss";

.post-form{
	height: 100vh;
	background-color: white; 
	display: flex;
	padding: 5%;
}
.RichEditor-root{
    background: #fff;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding: 15px;
    width: 100vw;
} 
#gear-dropdown{
	display: flex;
	align-items: row;
}

#dropdownlist{
	height: 2.5%;
	margin-left: 5px;
	font-family: $sans-serif;
	color: white;
	border: none;
	background-color: $green; 
}

.selector-icon{
	width: 15%;
	height: 8%;
	padding-right: 5%;
}

.create-cancel{
	position: absolute;
	right: 5%;
	top: 7%;
	padding-bottom: 10%; 
	width: 100px;
	background-color: $dark_grey;
	color: white;
	font-weight: normal;
	font-size: 8px;
	font-weight: normal;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: capitalize;
	font-size: 14px;
	text-align: center;
}

.create-create{
	position: absolute;
	right: 15%;
	top: 7%;
	padding-bottom: 10%; 
	width: 100px;
	background-color: $green;
	color: white;
	font-weight: normal;
	font-size: 8px;
	font-weight: normal;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: capitalize;
	font-size: 14px;
	text-align: center;
}

.form-title{
	width: 90vw;
	padding-top: 15px;
	font-size: 22px;
	letter-spacing: 0.5px;
	color: $green;
	border-top: 1px solid $bar-border-grey;
}

.post_form input[type="text"]::-webkit-input-placeholder {
    color: $green;
}

.DraftEditor-root{
	padding-top: 1%;
}

