@import "../base/colors.scss";
@import "../base/fonts.scss";

.deleteNotePage{
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: white;
}

.delete-button-delete-page{
	width: 3.5%;
	height: 6%;
	padding-bottom: 15px;
}

.lineOne{
	color: $font_dark_grey;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 1px;
	font-family: helvetica, arial, sans-serif;
	border-bottom: 1px solid $bar-border-grey;
}

.lineTwo{
	font-size: 26px;
	font-family: times, serif;
	font-weight: 200;
	letter-spacing: 1px;
	padding-top: 30px;
	color: $font_dark_grey;
	align-self: center;
	/*vertical-align: baseline;*/

}

.noteName{
	font-weight: bold;
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
}

.cancelButton{
	margin-top: 10%;
	margin-right: 5%; 
	width: 200px;
	background-color: $dark_grey;
	border-color: $darker_green;
	color: white;
	font-weight: normal;
	font-size: 10px;
	font-weight: normal;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: capitalize;
	font-size: 16px;
	text-align: center;
}

.deleteButton{
	margin-top: 10%;	
	margin-left: 5%;
	width: 200px;
}
