@import "../base/colors.scss";
@import "../base/fonts.scss";

.notebook-drop-down-list-btn{
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.notebook-drop-down-list-btn:hover{
	background-color: white;
}


.notebook-drop-down-list-title{
	color: $font_dark_grey;
	font-size: 12px;
}

.drop-down-list-show{
	z-index: 1000;
	background: white;
	position: absolute;
	margin: 5px;
	padding: 3px;
	width: 20%;
	height: 20%;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	letter-spacing: 1px;
	border: 0.5px solid $light_grey;
	box-shadow: 4px 4px 2px $dark_grey;
}

.notebook-list-header{
	font-size: 16px;
	color:$font_dark_grey;
	padding: 5%;
	text-align: center;
	width: 85%;
	border-bottom: 0.5px solid $light_grey;
}

.notebook-item{
	font-size: 14px;
	color:$font_light_grey;
	padding: 5%;
	text-align: center;
	width: 85%;
	border-bottom: 0.5px dotted $light_grey;
}

.notebook-item-current{
	font-size: 14px;
	color: $green;
	padding: 5%;
	text-align: center;
	width: 85%;
	border-bottom: 0.5px dotted $light_grey;
}

.hidden{
	display: none;
}