@import "../base/colors.scss";
@import "../base/fonts.scss";


.wrapper{
	width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.homePage{
	display: flex;
	flex-direction: row;
	height: 100vh
}

/*nav bar style*/
	
.navBar{
	height: 100%;
	width: 7%;
	background: $bar-grey;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-right: 1px solid $bar-border-grey;
	z-index: 2000;
}

.navBar >img{
	padding: 10px;
	width: 35%;
} 

.groupOne >img{
	margin-top: 15px;
}


.groupTwo >a{
	margin-top: 15px;
	justify-content: space-around;
	display: flex;
}


.groupThree {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.logout-button{
	background-color: transparent;
	font-size: 10px;
	margin-top: 15px;
	}

.logout-button >img{
	width: 150%;
	height: 150%
}

.logout-button:hover{
	background-color: transparent;
}

.header-name{
	font-size: 9pt;
	font-family: $sans-serif;
}

/*noteIndex style*/

.noteIndex{
	height: 100%;
	width: 30%;
	background: white;
	border-right: 1px solid $bar-border-grey;
	overflow: scroll;
}

.noteHeader{
	margin-top: 5%;
	padding-left: 5%;
	padding-bottom: 8%;
	border-bottom: 3px solid $bar-border-grey;
	color: $index-header-grey;
	font-size: 24px;
	font-family: helvetica, arial, sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
	vertical-align: top;
	line-height: 40px;
}

.note-list{
	padding-right: 3%;
	padding-left: 3%;
	overflow: scroll;
}

.note-list-item{
	padding-top: 5%;
	padding-left: 5%;
	border-bottom: 1px solid $bar-border-grey;
	height: 100px;
}

.note-title{
	font-size: 14px;
	color: $font_black;
	padding-bottom: 5%
}

.note-body{
	font-family: helvetica, arial, sans-serif;
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	text-overflow: ellipsis; 
	overflow: hidden;
	line-height: 14px;
	font-size: 12px;
	letter-spacing: 0.5px;
	font-weight: 200;
	color: $font_light_grey;
}

/*note show style*/

.noteShow{
	height: 100%;
	width: 63%;
	background: white;
	border-right: 1px solid $bar-border-grey;
	
}

.note-edit{
	padding-right: 3%;
	padding-left: 3%;
}

.note-edit >header{
	padding-top: 20px;
}

.delete-button{
	width: 3%;
	height: 5%;
}


/*.current-note{
	border-top: 1px solid $bar-border-grey;
}
*/

.tool_bar{
	margin-top: 3%;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.delete-button{
	padding-left: 1%;
	z-index: 2000;
}

.note-edit-title{
	padding-top: 15px;
	font-size: 22px;
	letter-spacing: 0.5px;
	color: $green;
}

.note-edit-body{
	display: inline;
	padding-top: 15px;
	font-size: 14px;
	font-weight: 100;
	letter-spacing: 0.5px;
	font-family: helvetica, arial, sans-serif;
}



