@import "../base/colors.scss";
@import "../base/fonts.scss";

.login-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	}

.header{
	display: flex;
	width: 100%;
	background: $light_grey;
	justify-content: space-between;
	border-bottom: 4px solid $green;
}

.left-side{
	display: flex;
	justify-content: space-between;
	max-width: 260px;
	margin-left: 5%;
	flex: 1 1 0;
}

.logo{
	padding: 10px;
	width: 100%;
	height: auto;
}

.logo-name{
	font-size: 20pt;
	letter-spacing: 0.5px;
	color: $green;
	text-transform: uppercase;
	padding: 10px;
}

.right-side{
	display: flex;
	justify-content: space-between;
	max-width: 100px;
	margin-right: 5%;
	flex: 1 1 0;
}

.github, .linkedin{
	cursor: pointer;
	padding: 10px;
}

.login-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90vh;
}

.status{
	font-size: 32px;
	font-weight: 300;
	line-height: 36px;
	color: white;
	}

.login-form-box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: white;
	border-radius: 5px;
	border: 1px solid $border_grey;
	height: 350px;
	width:450px;
	font-size: 16px;
	font-weight: 300;
	}

.login-form-box input[type="text"], .login-form-box input[type="password"],
.login-form-box input[type="submit"], .login-form-box button{
	width:70%;
	border-radius: 0.25rem;
  	padding: 1rem;
  	margin: 15px 15px 0;
}

.login-form-box input[type="text"], .login-form-box input[type="password"]{
	border: 1px solid $border_grey;
}

.submit-button{
	background-color: $green;
	border-color: $darker_green;
	color: white;
	font-weight: normal;
	padding: 7px 9px;
	border-radius: 3px;
	transition: background-color 0.3s;
	font-family: $sans-serif;
	text-transform: capitalize;
	font-size: 16px;
	text-align: center;
	}
.submit-button:hover{
	background-color: $darker_green;
}

.login-signup{
	color: $green;	
	font-size: 16px;
	margin-top: 15px;
	}

.login-prop-words{
	color: white;
	font-size: 14px;
	margin-top: 15px;
}

.error_msg{
	font-size: 12px;
	margin:5px 5px 0;
}

video#hello-jpg{
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(http://res.cloudinary.com/dltydzsmu/image/upload/v1503958901/I_Just_Wanted_k5ihje.jpg) no-repeat;
    background-size: cover; 
    opacity: 0.4;
}

