@import "../base/colors.scss";
@import "../base/fonts.scss";

.theMenu{
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-100vw, 0, 0);     
    width: 100vw;
    height: 100vw;
}

.flyoutMenu {
        display: flex;
        flex-direction: row;
        width: 93%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 7%;
        transform: translate3d(-100vw, 0, 0);
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
        overflow: scroll;
        z-index: 1000;
        background: rgba(255, 255, 255, 0.8);
    }


.notebookIndex{
    width: 35vw;
    background-color: white;
    border-right: 2px solid $bar-border-grey;
}

.notebook-list{
    overflow: scroll;
    padding: 10%;
    padding-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.notebook-list-item{
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $bar-border-grey;
    height: 100px;
}

.notebook-body{
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    margin-left: 25%;
    color:$font-light-grey;
    letter-spacing: 0.5px;
    font-family: helvetica, arial, sans-serif;
}

.tagIndex{
    width: 35vw;
    background-color: white;
    border-right: 2px solid $bar-border-grey;
}

.tag-list{
    height: 100%;
    overflow: scroll;
    padding: 10%;
    padding-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tag-list-item{
    width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $bar-border-grey;
    height: 100px;
}

.tag-body{
    cursor: pointer;
    font-size: 10px;
    font-weight: normal;
    margin-left: 25%;
    color:$green;
    letter-spacing: 0.5px;
    font-family: helvetica, arial, sans-serif;
}


.placeholder{
    width: 58vw;
}
