@import "../base/colors.scss";

.tag_icon {
  width: 2%;
  height: 2.5%;
  padding: 1%;
}

.react-tagsinput {
  background-color: #fff;
  overflow: hidden;
}

.react-tagsinput--focused {
  border-color: #a5d24a;
}

.react-tagsinput-tag {
  background-color: $darker_green;
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  border-right: 1px solid $border_grey;
  outline: none;
  width: 30px;
}